.main__header--nav {
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  border-bottom: 1px solid #ddd;
  width: 80%;
}

.main__header--nav a {
  float: right;
  text-decoration: none;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin-right: 1px;
  color: #fff;
  padding: 0.5rem 2rem;
  background-color: #364150;
}

.btn-group {
  padding-top: 10rem;
}

.main__header--nav > li:hover {
  background-color: #0878b0;
}

.main__conten--book-search > input {
  font-family: Cairo;
  background: #fff;
  text-align: right;
  color: #525865;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  margin: 0px;
  padding: 8px;
  margin-left: -5px;
}
.main__conten--book-search {
  margin-bottom: 2rem;
  margin-left: 20rem;
}

.main__conten--book-search > input:hover {
  font-family: Cairo;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.main__conten--book-search > input:focus {
  font-family: Cairo;
  color: #4b515d;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

.form-control {
  font-family: Cairo;
  background: #fff;
  text-align: right;
  color: #525865;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  margin: 0px;
  padding: 8px;
  margin-left: -5px;
}

.main__conten--book-search button {
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  background-color: #0878b0;
  height: 42px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

.main__conten--book-search > button > img {
  padding: 8px;
}

.main__content--table {
  border-collapse: collapse;
  width: 100%;
}

.main__content--table td,
.main__content--table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.main__content--table td {
  font-size: 0.85rem;
  text-align: center;
}

.main__content--table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.main__content--table tr:hover {
  background-color: #ddd;
}

.main__content--table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 0.9rem;
  background-color: #364150;
  color: white;
}

.button, .link {
  color: white;
  border: 0px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: cairo;
  border-radius: 5px;
  box-shadow: 1px 28px 35px -20px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  display: inline-block;
}

.button--add {
  padding: 0.3rem;
  float: left;
}
.button--view {
  background-color: #00c0ef;
}

.button--delete {
  background-color: red;
}

.link--view {
  background-color: #00c0ef;
}

.link--delete {
  background-color: red;
}

.link--view:hover, .link--delete:hover {
  background-color: #4b515d;
}

.button--margin {
  margin-right: 5rem;
}

.button--remind {
  background-color: #ff8d19;
}

.btn__next {
  display: none;
}

.btn__next--visible {
  display: block;
}

.panel-content--category {
  display: none;
}

.panel-content--category-visible {
  display: block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  margin-top: 2rem;
  }

.panel-content--category-content {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 1rem
}

.form-container {
  width: 100%;
  margin: 10px auto;
  border: 1px solid white;
  box-shadow: 0 0 1px 1px white;
}

.form-container .panel > div {
  padding: 0.5rem;
}
.panel-content {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 1rem;
}

.form-container .panel div input {
  margin-right: 1rem;
  padding-right: 2rem;
  width: 18rem;
}

select.styled,
select.styled option {
  padding-left: 12px;
  border: 1px solid #fff;
  background: #ffffff;
}

select.styled {
  margin-right: 3rem;
  padding-right: 2rem;
  width: 10rem;
  vertical-align: top;
  text-overflow: ellipsis;
  display: inline-block;
  font-family: Cairo;
  box-sizing: border-box;
  padding: 0.3rem;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.form-container .btn-group {
  width: 90%;
  margin: 0 auto 10px auto;
}

.form-container .back {
  float: left;
}

.form-container .continue {
  float: right;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

#part1,
#part2,
#part3 {
  z-index: 2;
  display: block;
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#part2,
#part3 {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#step2:checked ~ #part2 {
  opacity: 1;
  height: auto;
}

#step2:checked ~ #part1 {
  opacity: 0;
  height: 0;
  display: none;
}

#step3:checked ~ #part3 {
  opacity: 1;
  height: auto;
}
#step3:checked ~ #part2 {
  opacity: 0;
  width: 0;
  height: 0;
}
