.main__conten--borrow-search .form--input {
  font-family: Cairo;
  background: #fff;
  text-align: right;
  color: #525865;
  border-radius: 0.5rem;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  font-size: 1em;
  line-height: 1.45;
  outline: none;
  margin: 0px;
  padding: 12px;
  width: 15rem;
  margin-left: -5px;
}

.addNewUser {
  display: none;
}

.addNewUser-visible {
  display: block;
}

.main__content--table-invisible {
  display: none;
}

.main__conten--borrow-search {
  margin-bottom: 2rem;
  margin-left: 20rem;
}

.main__conten--borrow-search .form--input:hover {
  font-family: Cairo;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.main__conten--borrow-search .form--input:focus {
  font-family: Cairo;
  color: #4b515d;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
}

.main__conten--borrow-search .btninput {
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  background-color: #0878b0;
  font-size: 18px;
  text-align: center;
  padding: 0.3rem;
  width: 5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-family: Cairo;
  outline: none;
  cursor: pointer;
  color: white;
  vertical-align: middle;
}

.main__content--borrow-div {
  padding-top: 5rem;
}

.main__conten--borrow-search > label {
  padding: 1rem;
}

.main__content--result > label {
  padding: 2rem;
}

.main__content--result {
  display: none;
}

.main__search--result-visible {
  display: block;
}

.main__search--result--invisible {
  display: none;
}

.main__content--addUser > div {
  padding: 1rem;
}
.main__content--addUser > div > input {
  padding: 0.5rem;
  width: 20rem;
  font-family: cairo;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.main__content--addUser > input :focus {
  border-color: #333;
}

.main__content--addUser > div > label {
  padding: 2rem;
}

.main__content--addUser-btn {
  float: left;
}

.main__content--addUser {
  display: none;
}

.main__content--addUser-visible {
  display: block;
}

.main__content--viewUser {
  display: none;
}

.main__content--viewUser-visible {
  display: block;
}

.main__content--viewUser-borrowing {
  padding-top: 2rem;
}
.main__content--viewUser-borrowing > div > h3 {
  padding-bottom: 2rem;
}

.btnDelete {
  background-color: red;
  color: white;
  border: 0px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: cairo;
  border-radius: 5px;
  box-shadow: 1px 28px 35px -20px rgba(0, 0, 0, 0.75);
}

.main__content--addBookForUser {
  display: none;
}

.main__content--addBookForUser-visible {
  display: block;
  padding-top: 2rem;
}

.main__content--addBookForUser > label {
  padding: 1rem;
}

.main__content--addBookForUser > input {
  padding: 0.5rem;
  outline: none;
  width: 20rem;
  font-family: cairo;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.main__content--addBookForUser > input :focus {
  border-color: #333;
}
