<section class="main__header">
  <h1>لوحة التحكم </h1>
  <span class="main__header--span">الرئيسية</span>
</section>
<section class="main__content">
  <section class="main__content--elem">
    <div class="main__content--elem-box">
      <div class="main__content--color-red">
        <h1>2000</h1>
        <h1>عدد الكتب</h1>
      </div>
      <div class="main__content--color-blue">
        <h1>2000</h1>
        <h1>عدد الأعضاء</h1>
      </div>
      <div class="main__content--color-yellow">
        <h1>2000</h1>
        <h1>عدد الإستعارات</h1>
      </div>
      <div class="main__content--color-green">
        <h1>2000</h1>
        <h1> عدد كتب المستعارة</h1>
      </div>
    </div>
  </section>
</section>