<header class="header">
  <img src="/img/logo.png">
</header>
<section class="content">
  <h3 class="content__h3">تسجيل الدخول</h3>
  <input class="content__input" type="text" autocomplete="off" placeholder="اسم المستخدم" name="username">
  <input class="content__input" type="password" autocomplete="off" placeholder="كلمة السر" name="password">
  <a href="#">
    <button type="submit" class="content__button">
      <h3>دخول</h3>
    </button>
  </a>
</section>
