<header class="header">
  <img src="/img/logo.png">
</header>
<section class="content">
  <h3 class="content__h3">تسجيل الدخول</h3>
  <input id="username" class="content__input" type="text" autocomplete="off" placeholder="اسم المستخدم" name="username">
  <input id="password" class="content__input" type="password" autocomplete="off" placeholder="كلمة السر" name="password">
  <button id="loginButton" type="submit" class="content__button">
    <h3>دخول</h3>
  </button>
</section>
