<section class="main__content">
  <div class="main__content--borrow-div">
    <div class="main__conten--borrow-search">
      <label>رقم الجوال :</label>
      <input type="text" placeholder=" بحث" name="search" id="mobileNumber">
      <button type="submit" id="searchUser">
        <img src="/img/search.png">
      </button>
      <p id="mobileNumberError" class="errorValid"></p>
    </div>
    <div class="main__content--result" id="main">
      <table class="main__content--table" id="tabelUser">
      </table>
      <div class="main__content--viewUser-borrowing">
        <div>
          <h3>الكتب المعارة
            <button class="main__content--addUser-btn addbtn" type="submit" onclick="addBookForUser()"> إضافة كتاب
            </button>
          </h3>
        </div>
        <table class="main__content--table" id="ViewBorrowedBook">
        </table>
      </div>
      <div class="main__content--addBookForUser" id="addBookUser">
        <h3>إضافة كتاب جديد</h3>
        <label>الرقم التسلسلى</label>
        <div>
          <input class="form-control" placeholder="0" maxlength="2" />
          <input class="form-control" placeholder="0" maxlength="3" />
          <input class="form-control" placeholder="0" maxlength="3" />
          <input class="form-control" placeholder="0" maxlength="4" />
        </div>
        <button class="main__content--addUser-btn addbtn" type="submit" onclick="addBook()"> إضافة </button>
      </div>
    </div>
    <div class="addNewUser" id="viewAddUser">
      <div class="main__search--result" id="search">
        <label>العضو غير موجود معنا</label>
        <button class="addbtn" type="submit" onclick="addUser()"> إضافة عضو</button>
      </div>
      <div class="main__content--addUser" id="addNewUser">
        <h1>إضافة عضو جديد</h1>
        <div>
          <label>اسم العضو</label>
          <input type="text" placeholder="اسم العضو" id="name" />
          <p id="nameError" class="errorValid"></p>
        </div>
        <div>
          <label>رقم الجوال</label>
          <input type="text" placeholder="رقم الجوال" id="mobileNumberUser" />
          <p id="mobileNumberUserError" class="errorValid"></p>
        </div>
        <div>
          <label>عنوان العضو</label>
          <input type="text" placeholder="العنوان " id="address" />
          <p id="addressError" class="errorValid"></p>
        </div>
        <button class="main__content--addUser-btn addbtn" id="addUsers" type="submit"> إضافة </button>
      </div>
    </div>
  </div>
</section>