<section class="main__content">
  <div class="main__content--borrow-div">
    <div class="main__conten--borrow-search">
      <label>رقم الجوال :</label>
      <form>
        <input type="text" placeholder=" بحث" class="form--input" name="search" id="mobileNumber">
        <input type="submit" id="searchUser" value="بحث" class="btninput">
        </input>
        <p id="mobileNumberError" class="errorValid"></p>
      </form>
    </div>
    <div class="main__content--result" id="main">
      <table class="main__content--table" id="tabelUser">
      </table>
      <div class="main__content--viewUser-borrowing">
        <div>
          <h3>الكتب المعارة
            <button class="main__content--addUser-btn addbtn" type="submit" onclick="addBookForUser()"> إضافة كتاب
            </button>
          </h3>
        </div>
        <table class="main__content--table" id="ViewBorrowedBook">
        </table>
      </div>
      <div class="main__content--addBookForUser" id="addBookUser">
        <h3>إضافة كتاب جديد</h3>
        <form>
          <div class="borderSerial">
            <label>الرقم التسلسلى</label>
            <input class="input" placeholder="ن" maxlength="8" id="copyId" required/>.
            <input class="input" placeholder="ر" maxlength="8" id="bookshelf" required/>.
            <input class="input" placeholder="ق" maxlength="8" id="section" required />.
            <select class="styled" name="category" id="category" required>
              <option value="">إختر التصنيف</option>
              {{#each res}}
              <option value="{{categorySerial}}">{{categorySerial}}</option>
              {{/each}}
            </select>
          </div>
          <br>
          <h4> ن : نسخة الكتاب</h4>
          <h4> ر : الرف</h4>
          <h4> ق : القسم </h5>
            <h4> ت : التصنيف</h4>
            <input class="main__content--addUser-btn addbtn" value="إضافة" type="submit" id="addBookToUser"> </input>
        </form>
      </div>
    </div>
    <div class="addNewUser" id="viewAddUser">
      <div class="main__search--result" id="result">
        <label>العضو غير موجود معنا</label>
        <button class="addbtn" type="submit" onclick="addUser()"> إضافة عضو</button>
      </div>
      <div class="main__content--addUser" id="addNewUser">
        <h1>إضافة عضو جديد</h1>
        <form>
          <div>
            <label>اسم العضو</label>
            <input type="text" placeholder="اسم العضو" id="name" />
            <p id="nameError" class="errorValid"></p>
          </div>
          <div>
            <label>رقم الجوال</label>
            <input type="text" placeholder="رقم الجوال" maxlength="8" id="mobileNumberUser" />
            <p id="mobileNumberUserError" class="errorValid"></p>
          </div>
          <div>
            <label>عنوان العضو</label>
            <input type="text" placeholder="عنوان العضو" id="address" />
            <p id="addressError" class="errorValid"></p>
          </div>
          <input class="main__content--addUser-btn addbtn" value="إضافة" id="addUsers" type="submit">
        </form>
      </div>
    </div>
  </div>
</section>