<header class="header header--theme" id="myHeader">
  <div class="header__elem header__elem--theme">
    <img class="header__elem--logo" src="/img/logo.png">
    <h4 class="header__elem--logout">تسجيل الخروج </h4>
  </div>
</header>