<section class="main__sidebar main__sidebar--them">
  <ul class="main__sidebar--ul">
    <a href="/admin/">
      <li {{#if adminHomePage}} class='active' {{/if}}>
        <img class="main__sidebar--icon" src="/img/home.png">
        <span class="main__sidebar--span">الرئيسية</span>
      </li>
    </a>
    <a href="/admin/books/library">
      <li {{#if book}} class='active' {{/if}}>
        <img class="main__sidebar--icon" src="/img/books.png">
        <span class="main__sidebar--span">الكتب</span>
      </li>
    </a>
    <a href="/admin/users">
      <li {{#if user}} class='active' {{/if}}>
        <img class="main__sidebar--icon" src="/img/users.png">
        <span class="main__sidebar--span">الأعضاء</span>
      </li>
    </a>
    <a href="#">
      <li>
        <img class="main__sidebar--icon" src="/img/study.png">
        <span class="main__sidebar--span">الإستعارة</span>
      </li>
    </a>
  </ul>
</section>