<header class="header header--theme" id="myHeader">
  <div class="header__elem header__elem--theme">
    <img class="header__elem--logo" src="/img/logo.png">
    <a href="/admin/logout" class="header__elem--link">
      <h4 class="header__elem--logout">تسجيل الخروج </h4>
    </a>
  </div>
</header>