<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  {{>admin_head}}
</head>

<body>
  {{>admin_header}}
  <main class="main">
    {{>admin_sidebar}}
    {{{body}}}
  </main>
  <script src="/js/{{admin}}.js"></script>
  {{#if js}}
    <script src="/js/{{js}}.js"></script>
  {{/if}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>
